<div class="container-flex">
    <div class="row">
        <div class="col-sm-12 cor">
            <footer>
                <h2 class= "aliando-texto"> Sigam nossas redes Socias:</h2>

                <div>
                    <ul class="mt-4 arrumar-itens">
                        <li> <img src="../../assets/Imagens/linkedin.png" alt="" width="70px">  </li>
                        <li> <img src="../../assets/Imagens/github.png" alt="" width="70px"></li>
                        <li> <img src="../../assets/Imagens/facebook.png" alt="" width="70px"></li>
                    </ul>

                    <h2 class="aliando-texto mt-3">Direitos reservados a @Guilherme</h2>
                </div>

            </footer>
        </div>
    </div>


</div>