<footer>
    <div class="container-flex">
        <div class="row">
            <div class="col-md-12"></div>
            <p class="text-white estilo-texto" >@Todos os direitos reservados a Guilherme Rodrigues</p>
        </div>

        <div class="col-md-12  d-flex justify-content-center" >
            <ul class="d-flex">

                <li class="estilo-lista">  <a href="https://www.linkedin.com/in/guilhermedev/" target="_blank" > <img src="../../assets/img/linkedin.png" alt="Linkedin" width="70px"> </a> </li>

                <li class="estilo-lista"> <a href="https://github.com/GuilhermeRodriguesSantos"  target="_blank"> <img src="../../assets/img/github.png" alt="GitHub" width="70px"> </a></li>

                <li class="estilo-lista"> <a href=" https://www.facebook.com/profile.php?id=100010948569335"  target="_blank"> <img src="../../assets/img/facebook.png" alt="Facebook" width="70px"> </a> </li>
            </ul>
        </div>

        <div class="col-md-12 text-white estilo-texto">
            <p>Algumas de nossas redes Sociais</p>

        </div>


    </div>
</footer>