<div class="container-flex justify-content-center">
    <div class="row">
        <div class="col-md-6">
            <div>
            <img class="imagem-logar" src="../../assets/img/cadastro1.jpg" alt="Imagem Cadastro">
            </div>
        </div>

        <div class="col-md-6 cor-div d-flex justify-content-center">
            
            <div class="posicao">
                <div>
                    <h1 class="text-white posicao-texto">Pronto para se Cadastrar?</h1>
                </div>

                <div>
                    <label class="cor-label mt-4" for="nome">Nome:</label> <br>
                    <input class="mb-4 tamanho-label" type="text" id="nome" placeholder="Digite o seu nome:"> 
                </div>

                <div>
                    <label class="cor-label" for="email">E-mail:</label> <br>
                    <input class="mb-4 tamanho-label" type="email" id="email" placeholder="Digite o seu E-mail:"> 
                </div>

                <div>
                    <label class="cor-label" for="foto">Link da Foto:</label> <br>
                    <input class="mb-4 tamanho-label" type="text" id="foto" placeholder="Coloque o link da sua Foto:">
                </div>

                <div>
                    <label class="cor-label" for="senha">Senha:</label> <br>
                    <input class="mb-4 tamanho-label" type="password" id="senha" placeholder="Digite a sua Senha:">
                </div>

                <div>
                    <label class="cor-label" for="confirmaSenha">Confirme sua Senha:</label> <br>
                    <input class="tamanho-label" type="password" id="senha" placeholder="Confirme a sua Senha:">
                </div>

                <div>
                    <button type="button" class="btn btn-outline-light tamanho-botao mt-4">Logar</button>
                </div>

            </div>

        </div>

    </div>
</div>
