
.cor-div{
    background-color: rgb(37, 37, 37);
}

.imagem-logar{
    height: 920px;
    margin-left: 170px;
}

.cor-label{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.posicao{
    margin-top: 100px;
}

.posicao-texto{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.tamanho-label{
    width: 400px;
    height: 45px;
    font-style: oblique;
}

.tamanho-botao{
    width: 150px;
    height: 50px;
    margin-left: 35px;
}

.tamanho{
    width: 400px;
    height: 45px;
    
}