<div class="container-fluid">

    <div class="row">
        <div class="col-md-6 imagem">
        </div>

        <div class="col-md-6 cor">

        <div class="texto">
            <div>
                <h3>Pronto para Cadastrar?</h3>
            </div>

            <div>
                <input class="lb mt-2 mb-4" type="text" id="nome" placeholder="Digite seu Nome:">
            </div>

            <div>
                <input class="lb mb-4" type="email" id="email" placeholder="Digite seu E-mail:">
            </div>

            
            <div>
                <input class="lb mb-4" type="text" id="foto" placeholder="Coloque o link da sua Foto?:">
            </div>

            
            <div>
                <input class="lb mb-4" type="password" id="senha" placeholder="Digite sua Senha::">
            </div>

            
            <div>
                <input class="lb mb-4" type="password" id="confSenha" placeholder="Confirme sua Senha:">
            </div>
            
            <div class="op">
                <label for="Usuario">Tipo de Usuario:</label>
               <select class="form-control" name="tipo" id="tipo">
                    <option>Selecione seu tipo de Usuario</option>
                    <option value="Adiministrador">Administrador</option>
                    <option value="Nomal">Normal</option>
                </select>
            </div>

            <div>
                <ul class="d-flex justify-content-center mt-3 ul ">
                    <li class="p-2"><button  type="button" class="btn btn-outline-secondary tm-b">Cadastrar</button></li>
                    <li class="p-2"><button type="button" class="btn btn-outline-secondary tm-b">Logar</button></li>
                </ul>
            </div>

        </div>    

        </div>


    </div>

</div>