<div class="container-flex justify-content-center">
    <div class="row">
        <div class="col-md-6">
            <div>
            <img class="imagem-logar" src="../../assets/img/cadastro1.jpg" alt="Imagem Cadastro">
            </div>
        </div>

        <div class="col-md-6 cor-div d-flex justify-content-center">
            
            <div class="posicao">
                <div>
                    <h1 class="text-white posicao-texto mb-4">Pronto para se Cadastrar?</h1>
                </div>

                <div>
                    <input [(ngModel)]='Usuario.nome' class="mb-4 tamanho-label" type="text" id="nome" placeholder="Digite o seu nome:" > 
                </div>

                <div>
                    <input [(ngModel)]='Usuario.email' class="mb-4 tamanho-label" type="email" id="email" placeholder="Digite o seu E-mail:"> 
                </div>

                <div>
                    <input [(ngModel)]='Usuario.foto' class="mb-4 tamanho-label" type="text" id="foto" placeholder="Coloque o link da sua Foto:">
                </div>

                <div>
                    <input (input)='confirmaSenha($event)' class="mb-4 tamanho-label" type="password" id="senha" placeholder="Digite a sua Senha:">
                </div>

                <div>
                    <input  [(ngModel)]=' Usuario.senha' class="mb-4 tamanho-label" type="password" id="senha" placeholder="Confirme a sua Senha:">
                </div>

                <div>
                    <label class="cor-label" for="tipoUsuario">Coloque seu tipo de Usuario:</label>
                    <select class="form-control tamanho" name="itens" id="itens" (change)='tipoUsuario($event)'>

                        <option value="selecionar">Selecione o tipo de Usuario:</option>
                        <option value="administardor">Usuario Administrador:</option>
                        <option value="normal">Usuario Normal:</option>

                    </select>
                </div>

                <div class="d-flex justify-content-right">
                    <button type="button" class="btn btn-outline-success tamanho-botao mt-4" (click)='cadastrar()' >Cadastrar</button>
                    <button type="button" class="btn btn-outline-danger tamanho-botao mt-4" routerLink='/Logar'>Cancelar</button>
                </div>

            </div>

        </div>

    </div>
</div>

<!--
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 ">

            <div class="descer">
                <p class="texto">Cadastre-se</p>
            </div>

            <div  class="quadrado posicao">

                        <div class="">
                            <input class="a tamanho" type="text" id="nome" placeholder="Usuário">
                        </div>
                        <div>
                            <input class="mt-5 tamanho" type="email" id="email" placeholder="Email">
                        </div>
                        <div>
                            <input class="mt-5 tamanho" type="password" id="senha" placeholder="Senha">
                        </div>
                        <div>
                            <input class="mt-5 mb-4 tamanho" type="password" id="confirmaSenha" placeholder="Confirme sua Senha">
                        </div>

                        <div>
                            <button type="button" class="btn btn-outline-light tamanho-botao">Primary</button>
                        </div>

                
            </div>

        </div>

        <div class="col-md-4">
            <img class="foto" src="../../assets/img/b0bc92b2aa20b8ad2a9db25ee44ebec3.gif" alt="">
        </div>
    </div>
</div>

-->