.cor-div{
    background-color: rgb(37, 37, 37);
}

.imagem-logar{
    height: 920px;
    margin-left: 170px;
}

.cor-label{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.posicao{
    margin-top: 100px;
}

.posicao-texto{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.tamanho-label{
    width: 400px;
    height: 45px;
    font-style: oblique;
    outline: none;
    background-color: rgb(37, 37, 37);
    border-bottom: 3px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.tamanho-botao{
    width: 150px;
    height: 50px;
    margin-left: 35px;
}

.tamanho{
    width: 400px;
    height: 45px;
    
}

/*foto{
    height: 942px;
    width: 628px;
}


.quadrado{
    background-color: white;
    height: 480px;
    width: 480px;
    background-color: #003D72;
    border-radius: 25px;
    
    
}

.a{
    margin-top: 70px;
}

.texto{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 70px;
    text-align: center;
    margin-top: 110px;
}

.posicao{
    margin-left: 400px;
    text-align: center;
    
}

.tamanho{
    width: 280px;
    height: 40px;
    font-style: oblique;
    background-color: #003D72;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    outline: none;
    border-bottom: 2px solid white;
    border-top:none;
    border-left: none;
    border-right: none;
    color: white;
}

.tamanho-botao{
    width: 200px;
    height: 40px;
    border-radius: 20px;
}*/