
<div class="container-flex">
    <div class="row">
        <div class="col-md-6"> 

            <div class="posicao">
                <img src="../../assets/img/login.jpg" alt="foto login" height="921px">
            </div>

        </div>

        <div class="col-md-6  d-flex justify-content-center cor-div ">

            <div class="posicao-div">
                <h1 class="mt-5  mb-5 texto2">Pronto para Logar ?</h1>
                <div>
                    <input class="mb-3 tamanho-label mb-5" type="email" name="email" id="email" placeholder="Digite o seu E-mail">
                </div>

                <div>
                    <input class="mb-3 tamanho-label mb-5" type="password" name="senha" id="senha" placeholder="Digite a sua Senha">
                </div>

                <div>
                    <button  type="button" class="btn btn-outline-light tamanho-botao mt-3">Logar</button>
                </div>

                <hr class="a">

                <div>
                    <p class="texto"> Não tem uma conta ? | <a routerLink='/Cadastrar' > Cadastre-se </a> </p>
                </div>

            </div>
           

    </div>
</div>
