.imagem{
    background-image: url(../../assets/Imagens/minions.jpg);

    min-height: 640px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.tm{
width: 240px;

}
.cor{
    background-color: rgb(88, 80, 80);
}

.tamanho{
    margin-top: 150px;
    text-align: center;
    color: white;
}

.label{
  border-bottom: 5px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  font-style: oblique;
  width: 300px;
  background-color:rgb(88, 80, 80);
}

li{
    list-style: none;
}