<div class="container-flex">
    <div class="row">
        <div class="col-md-6 imagem">

        
        </div>
            <div class="col-md-6 cor">

                <div class="tamanho">
                <div>
                    <h2 class="texto">Pronto para Logar?</h2>
                </div>

                <div>
                    <input [(ngModel)] = 'usuarioLogin.email' class="label mt-4" type="email" id="email" placeholder="Digite seu E-mail:">
                </div>

                <div>
                    <input [(ngModel)] = 'usuarioLogin.senha' class="label mt-4 mb-4" type="password" id="senha" placeholder="Digite sua Senha:">
                </div>

                <div >
                    <ul class="d-flex justify-content-center mt-2 separa">
                        <li class="p-3"><button type="button" class="btn btn-outline-secondary tm" (click)= 'logar()' >Logar</button></li>
                    </ul>
                </div>

                <div>
                    <h4> Não possui uma Senha? | <a routerLink="/Cadastrar"> Cadastre-se</a></h4>
                </div>
                

            </div>
        </div>  

    </div>

</div>