<nav class="navbar navbar-expand-lg navbar-light cor-nav">
    <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center">
                <li class="nav-item">
                     <img src="../../assets/img/80541189_1038264733215136_1747069439041339392_n.jpg" alt="Foto perfil" width="50px" height="50px" class="img-fluid rounded-circle"> 
                </li>
                <li class="nav-item p-4">
                    <p class="m-0 expessura text-white">Guilherme Rodrigues</p>
                </li>
                
                <li>
                    <img src="../../assets/img/editar-arquivo.png" width="30px" alt="icone de editar">
                </li>

                 <li class="nav-item p-3">
                     <a class="link-estilo" href="">
                    <p class="m-0 expessura cor cor-link"> Logar</p>
                    </a>
                </li>

                <li class="nav-item p-3">
                    <a class=" link-estilo" href="">
                    <p class="m-0 expessura cor cor-link">Cadastrar</p>
                    </a>
                </li>

            </ul>
            
            <div>
                <ul class="d-flex align-items-center estilo">
                     <li class="separar"> <button type="button" class="btn btn-outline-light">Sair</button></li> 
                     <li class="separar"> <img src="../../assets/img/sair.png" alt="Sair"> </li>
                </ul>
            </div>


        </div>
    </div>
</nav>