<nav class="navbar navbar-expand-lg navbar-light color">
    <div class="container-fluid ">
        <img src="../../assets/Imagens/pp.jpg" alt="" width="90px " class="foto">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex">
          <li class="nav-item texto" >
              <h5>Guilherme Rodrigues</h5>
          </li>

          
          <li class="nav-item">
            <img class="foto3" src="../../assets/Imagens/editar-imagem.png" alt="" width="30px foto2">
        </li>
        
          <li class="nav-item texto">
            <h5>Logar</h5>
        </li>

        <li class="nav-item texto">
            <h5>Cadastrar</h5>
        </li>

        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>