<div class="container-fluid">
    <div class="row bg-secondary">
        <div class="col-sm-12 text-white mb-3">


            <a routerLink='/inicio' class="text-white text-left">
            
                <i class="fa fa-angle-double-left" aria-hidden="true"></i> inicio
            </a>

            <h1 class="texto1 text-center">Temas</h1>
            <h5 class="texto2 text-center">Veja aqui todos os temas e cadastre um novo!</h5>

            <div class="row d-flex justify-content-center">
                <div class="col-md-3">
                    <div class="form-group">
                        <input [(ngModel)] ='tema.nome' type="text" value="nome" class="form-control mb-4" id="nome" placeholder="Digite o nome do Tema:">
                    </div>

                    <div class="form-group">
                      <input [(ngModel)] = 'tema.descricao' type="text" value="descricao" class="form-control" id="descricao" placeholder="Digite a Descrição do Tema:">
                  </div>

                    <div class="d-flex justify-content-center mt-3">
                        <button class="btn btn-light" (click)='Cadastrar()'>Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-sm-12">
            <h2 class="text-white text-center">Todos os Temas:</h2>
        </div>  
    </div>

    <div class="row mt-3 mb-5 d-flex justify-content-center">
        <div class="col-md-6">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Id:</th>
                    <th scope="col">Nome:</th>
                    <th scope="col">Descricao:</th>
                    <th scope="col" class="text-right">Modificações:</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor='let tema of listaTemas'>
                    <th> {{tema.id}} </th>
                    <td> {{tema.nome}} </td>
                    <td> {{tema.descricao}} </td>
                    <td class="d-flex justify-contente-end">
                      <button class="btn btn-info lado" [routerLink]="['/editar-Tema', tema.id]"> Editar </button>
                      <button class="btn btn-danger" [routerLink]="['/deletar-Tema', tema.id]"> Excluir</button>
                    </td>
                  </tr>
                </tbody>
              </table>

        </div>
    </div>
</div>